# Puerto de la API
PORT=3000

# PostgreSQL (Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/safeaccess?schema=public"

# Redis (Docker)
REDIS_HOST=localhost
REDIS_PORT=6379

# Auth
JWT_SECRET=change_this_in_local_env
JWT_EXPIRES_IN=1h
AUTH_CACHE_TTL_SECONDS=60
